<body>
  <section *ngIf="resume" id="content">
    <app-header [resume]="resume"></app-header>
    <app-objective [resume]="resume"></app-objective>
    <app-summary [resume]="resume"></app-summary>
    <app-skills [skills]="resume.skills"></app-skills>
    <!-- <app-experience [experience]="resume.experience"></app-experience> -->
    <app-projects [projects]="resume.projects"></app-projects>
    <app-personal-project *ngIf="resume.personalProjects" [personalProjects]="resume.personalProjects"></app-personal-project>
    <app-certification [certification]="resume.certificates"></app-certification>
    <app-education [education]="resume.education"></app-education>
  </section>
</body>
<router-outlet></router-outlet>