<section id="certificates">
    <h2>Certificates</h2>
    <ul>
            <li *ngFor="let certificationObj of certification">
                <section>
                    <ul>
                        <li>
                            <div class="label">Name:</div>
                            <div class="content">{{certificationObj.name}}</div>
                        </li>
                        <li>
                            <div class="label">Url:</div>
                            <div class="content"><a href="{{certificationObj.url}}" target="_blank">{{certificationObj.url}}</a></div>
                        </li>
                        <li>
                            <div class="label">Description:</div>
                            <div class="content">{{certificationObj.description}}</div>
                        </li> 
                    </ul>
                </section>
            </li>
        </ul>
        </section>